input {
  background-color: aliceblue;
  height: 2em;
  margin: 10px;
  padding-left: 8px;
  width: 40%;
}

.search-btn {
  font-weight: bold;
  height: 2em;
  margin: 10px;
  width: 15%;
}

.search-btn:hover {
  cursor: pointer;
  color: white;
  background-color: indianred;
}

.search-bar-div {
  height: 2.5em;
  border-bottom: solid 1px darkgray;
}