.article-individual {
  border: solid 2px white;
  font-size: .9em;
  margin: .5em;
  padding: .1em;
  width: 48%;
}

.art-img {
  width: 70%;
}

.see-article-btn {
  border-radius: 5px;
  font-weight: bold;
  height: 2em;
  margin: 1em;
  width: 40%;
}